{% load static %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mehmonxona bandlov tizimi">
    <meta name="keywords" content="mehmonxona, bandlov, xonalar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mehmonxona - Bandlov tizimi</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'assets_booking/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets_booking/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <a href="{% url 'booking' %}" class="bk-btn">Xona bandlash</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li><a href="{% url 'index' %}">Bosh sahifa</a></li>
                <li><a href="{% url 'rooms_list' %}">Xonalar</a></li>
                <li><a href="{% url 'about_us' %}">Biz haqimizda</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Aloqa</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-telegram"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (998) 71 123-45-67</li>
            <li><i class="fa fa-envelope"></i> info@hotel.uz</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (998) 71 123-45-67</li>
                            <li><i class="fa fa-envelope"></i> info@hotel.uz</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-telegram"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="{% url 'booking' %}" class="bk-btn">Xona bandlash</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets_booking/img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li><a href="{% url 'index' %}">Bosh sahifa</a></li>
                                    <li><a href="{% url 'rooms_list' %}">Xonalar</a></li>
                                    <li><a href="{% url 'about_us' %}">Biz haqimizda</a></li>
                                    <li><a href="{% url 'blog' %}">Blog</a></li>
                                    <li><a href="{% url 'contact' %}">Aloqa</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    {% block content %}
    {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="{% static 'assets_booking/img/footer-logo.png' %}" alt="">
                                </a>
                            </div>
                            <p>Biz sizga eng yaxshi xizmatlarni taqdim etamiz</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-telegram"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Bog'lanish</h6>
                            <ul>
                                <li>(998) 71 123-45-67</li>
                                <li>info@hotel.uz</li>
                                <li>Toshkent shahri, Chilonzor tumani, 19-mavze</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Yangiliklardan xabardor bo'ling</h6>
                            <p>Eng so'nggi yangiliklar va aksiyalardan xabardor bo'ling.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="{% url 'contact' %}">Aloqa</a></li>
                            <li><a href="#">Maxfiylik siyosati</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>Copyright &copy; {% now "Y" %} Barcha huquqlar himoyalangan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Qidirish...">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'assets_booking/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets_booking/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets_booking/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets_booking/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets_booking/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets_booking/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets_booking/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets_booking/js/main.js' %}"></script>
</body>

</html> 